extends ./app/base.pug

//- Required variables (please override to suit your needs)
block vars
  -
    var author = 'Fábio Mendes and Paulo Meirelles';
    var title = 'Transpyler Framework';


block slides
  +slide('-1500', '-1500')(style="vertical-align: top")    
    
    div(style="position: relative; width: 100%; height: 100%;")
      
      div(style="position: absolute; left: -20px; top: 0;")
        img(src="unb.svg",style="margin-bottom: 30px; display: block; width: 170px;")
        img(src="paulo.jpg",style="margin-bottom: -10px; display: block; width: 180px;")
        p.tiny Paulo Meirelles
      
      div(style="position: absolute; right: -20px; top: 0; width: 170px;")
        img(src="lappis.svg",style="margin-bottom: 66px; display: block; width: 170px;")
        img(src="fabio.jpg",style="margin-bottom: -10px; display: block; width: 180px;")
        p.tiny.right Fábio Mendes
      
      div(style="position: absolute; bottom: -50px; left: 145px; text-align: center; z-index: -1")
        img(src="fga.jpg", width="500px")
      
    div(style="position: absolute; top: 0; width: 500px; margin-left: 180px; margin-top: 50px; font-size: 0.85em;")
      h1 Who we are
          
      ul().small
        li University of Brasília @ Gama
        li Software Engineering course
        li Lots of students

  
  +slide()
    h1 Learning programming is hard...
    ul.small
      li Common technical problems are frustrating
      li Students often do not feel motivated<sup>*</sup>
      li First impressions are often negative  
      li System language such as Java and C++ can aggravate those problems
    
    p.tiny.right <sup>*</sup>not everybody loves Fibonacci numbers 


  +slide()
    h1 Non-English speakers suffer twice:
    :markdown-it()
      ```
      # WAT??
      bestimmen abfolge(x):
          ob x <= 1:
              Rückkehr 1
          sonst:
              Rückkehr abfolge(x - 1) + 
                       abfolge(x - 2)
      ```
    p.small Students struggle with English in most of the world... 
      

  +slide()
    p Students should learn programing in their native language...
    p ...in a fun and engaging environment.
  
  
  +step('0', '0', '4')#title
    span.try we introduce
    h1 transpyler<sup>*</sup>
    span.footnote <sup>*</sup><b>trans</b>lators for <b>Py</b>thon
    br
    span(style="font-size: 0.5em; position: relative; top: 0.2em; color: #666;").footnote.
      <sup>*</sup> we shamelessly stole this presentation from impress.js
  
  
  +step('850', '3000', '5', {rotate: 90})#try
    p.
      It is a framework for extending Python with <b>localized</b> keywords,  
      standard lib functions, and types. <b>Transpyler</b> makes it easy to adapt Python
      to any language<sup>*</sup>.
    br
    p(style="font-size: 0.7em; text-align: right;").
      <sup>*</sup>It is already used by Pytuguês: Python to Portuguese extension
  
      
  +step('3500', '2100', '6', {rotate: 90})#big
    p it also implements a
    b turtle
    p graphics application


  +step('2825', '2325', '1', {rotate: '0', z: -3000}).hide
    p 
      img(src="pytuga.png", style='width: 800px')
    p(style="font-size: 0.5em").center.
      <sup>*</sup>this Qt-based application supports any transpyler-based language. 

  
  +slide().hide
    h1 How does it work?
    ul(style="font-size: 0.8em")
      li It translates sources at the <b>token level</b>
      li Transpiles source back to Python
      li Functions use <b>gettext</b> for localization
      li The goal is to <b>extend</b> Python with translated keywords without replacing the original ones.  
      
      
  +slide().hide
    :markdown-it()
      ```python
      from transpyler import Transpyler
      
      pytuñol = Transpyler(
          name="Pytuñol",
          translations={
              'def': 'función', 
              'si': 'if', 'si_no': 'else', 
              'regresar': 'return', ...
          }
      )
      
      # Now we can execute Pytuñol code
      pytuñol.exec(...)
      ```

  
  +slide().hide
    h1 Important features 
    ul(style="font-size: 0.8em")
      li A GUI application, <b>QTurtle</b>
      li A <b>Jupyter</b> kernel (see next slide)
      li It uses <b>gettext</b> to translate stdlib functions
      li Automatic translations with <a href="https://translate.google.com">translate.google.com</a>
      li Users only need to subclass <b>Transpyler</b> and everything works seamlessly


  +step().hide
    img(src='jupyter.png', style='width: 800px') 
    p.tiny.center this is the Jupyter notebook running on the browser 
        
        
  +slide().hide
      h1 Small history 
      ul.small
        li <b>2015, Pytuguês:</b> supported only pt-BR.
        li <b>2017, Traspyler:</b> the recent effort to make that original implementation language agnostic.
        li Pytuguês is now only a thin layer around the Transpyler framework.
        li We created <b>Pytuñol</b>, es-BR, for this conference.

        
  +step('3500', '-850', '6', {rotate: -90, z: '0'})
    p(style="margin: 0 2em;").
      It is in an early development stage, but it has been used in the classroom 
      to teach both <b>undergraduates and children.</b>
      
      
  +slide(0, -2000, '2', {z: -3000}).hide
      h1 Pedagogical results 
      ul(style="font-size: 0.8em")
        li We only have data for <b>Pytuguês</b>
        li Used by ~200 students
          ul 
            li It offers a natural migration path to Python
            li Students enjoy the <b>GUI</b> environment
            li Python has a shallow learning curve when compared to other languages such as C
      
            
  +slide(0, -2000).hide
      h1 Alternatives in Portuguese<sup>*</sup> 
      ul(style="font-size: 0.8em")
        li 
          b Scratch/Code.org
          ul
            li Mature environment for graphical programming
            li A natural starting point before Pytuguês
        
        li 
          b Portugol
          ul 
            li Multiple implemenations (PASCAL inspired) 
            li Compiled and statically typed languages
            li Cannot use the ecosystem of the host language
      
      p(style="font-size: 0.5em; text-align: right") <sup>*</sup>we only consider localized computer languages
      
      
  +slide(0, -2000).hide
      h1 Why python? 
      
      ul(style="font-size: 0.8em")
        li Dynamic interpreted language
          ul
            li The interactive shell is useful for exploration 
            li Students focus on <b>algorithms</b> rather than on type declarations and on  compilation
        li Ecosystem
          ul 
            li Jupyter <b>notebooks</b> are great teaching resources
            li Good libraries for common tasks:
            ul
              li games, graphics, web, numerics, etc 
        li Widely used as a first programming language
      
      
  +step('7000', '-600', '6', {rotate: '0', z: '0'})
    p Colaboration is welcome!
    ul(style="font-size: 0.8em; margin-top: 0.5em;")
      li We want to support other idioms
      li Improve English and Portuguese <b>translations</b><sup>*</sup>
      li The <b>Qt</b> graphical interface is still unstable
      li + the usual chores:
        ul
          li documentation, testing, packaging, etc 
    p.tiny <sup>*</sup>there is still some code left in Portuguese.  
  
  
  #source.step(data-x='6300', data-y='2500', data-rotate='20', data-scale='4')
    p(style="margin-bottom: 0.8em") want to know more?
    q
      a(href='https://github.com/transpyler/') use the source, Luke!
    p(style="font-size: 0.5em; text-align: center; top: -2em; position: relative;") -it is GPLv3
      
